/* --- overwrites --- */

section[role="region"] > header:first-child,
section[role="region"] > header:first-child > a:not([aria-disabled="true"]):active:after,
section[role="region"] > header:first-child > button:not(:disabled):active:after,
section[role="region"] > header:first-child > a:not([aria-disabled="true"]):hover:after,
section[role="region"] > header:first-child > button:not(:disabled):hover:after,
section[role="region"] > header:first-child menu[type="toolbar"] a:not([aria-disabled="true"]):hover,
section[role="region"] > header:first-child menu[type="toolbar"] button:not(:disabled):hover,
section[role="region"] > header:first-child menu[type="toolbar"] a:not([aria-disabled="true"]):active,
section[role="region"] > header:first-child menu[type="toolbar"] button:not(:disabled):active {
  background-color: #B20000 !important;
}

section[role="region"] > header:first-child .icon.icon-back {
  background-image: url(../images/back.png);
}

section[role="region"] > header:first-child .icon.icon-menu {
  background-image: url(../images/menu.png);
}

/* --- icons --- */

i.icon
{
  position: absolute;
  width: 15px;
  height: 13px;
  background-size: contain;
  background-repeat: no-repeat;
}
i.i-bus
{
  background-image: url(../images/bus.png);
  top: 15px;
  right:15px;
}
i.i-tram
{
  background-image: url(../images/tram1.png);
  right: 14px;
  height: 17px;
}
i.i-clock
{
  background-image: url(../images/clock.png);  
  top: 37px;
}
i.i-walk
{
  background-image: url(../images/walk.png);  
  height:16px;
}

/* --- general --- */

var { font-style: normal;}

#index {
  height: 100%;
}
[data-position="right"] {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: translateX(100%);
  -webkit-transform: translateX(100%);
  z-index: 15;
  z-index: 100; /* -> drawer */
}
section[role="region"][data-position="right"] {
  position: absolute;
}
[data-position="right"].current {
  animation: rightToCurrent 0.4s forwards;
  -webkit-animation: rightToCurrent 0.4s forwards;
}
[data-position="right"].right {
  animation: currentToRight 0.4s forwards;
  -webkit-animation: currentToRight 0.4s forwards;
}
[data-position="current"].left {
  animation: currentToLeft 0.4s forwards;
  -webkit-animation: currentToLeft 0.4s forwards;
}
[data-position="current"].current {
  animation: leftToCurrent 0.4s forwards;
  -webkit-animation: leftToCurrent 0.4s forwards;
}
[data-position="back"] {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  opacity: 0;
  /* z-index: 100; -> drawer */
}
[data-position="back"].fade-in {
  z-index: 120;
  animation: fadeIn 0.2s forwards;
  -webkit-animation: fadeIn 0.2s forwards;
}
[data-position="back"].fade-out {
  animation: fadeOut 0.2s forwards;
  -webkit-animation: fadeOut 0.2s forwards;
}

[data-position="edit-mode"] {
  position: absolute;
  top: -5rem;
  left: 0;
  right: 0;
  bottom: -7rem;
  z-index: -1;
  opacity: 0;
  transition: all 0.3s ease;
}
[data-position="edit-mode"].edit {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 120;
  opacity: 1;
}

/* Headers */
#headers section[role="region"] {
  margin-bottom: 1.5rem;
}
#headers section[role="region"]:not(#drawer) {
  display: inline;
}
#headers article header:first-child {
  margin-top: 1.5rem;
}
#headers section[role="region"] header h2 {
  margin: 0 0 1.5rem 0;
}

/* Lists */
/* to avoid double background effect on press */
[data-type=list] li>a:active { 
  background-color: transparent;
}

/* Drawer */
section[role="region"]:not(#drawer) {
  transition: none;
  left: 0;
  z-index: 0;
  padding-left: 0;
}
section[data-type="sidebar"] + section[role="region"] > header:first-child > button, 
section[data-type="sidebar"] + section[role="region"] > header:first-child > a {
  background-position: 3.5rem center;
}

/* Switches */
#switches label:last-child {
  margin-left: 2rem;  
}

/* Scrolling */
nav[data-type="scrollbar"] {
  padding-top: 1rem;
}
nav[data-type="scrollbar"] p {
  opacity: 1;
}

/* Seek bars */
div[role="slider"] > label.icon {
  background: no-repeat right top;
  background-size: 3rem auto;
}

/* Tabs */
#tabs .content {
  padding: 0;
}
#tabs .content .content {
  padding: 1.5rem 3rem;
}

/* Filters */
[role="tablist"][data-type="filter"] {
  margin-bottom: 2rem;
}

.bottom[role="tablist"][data-type="filter"] {
  bottom: auto;
}

/* Device rotation */
.landscape section[role="region"]#drawer > header:first-child {
  /* Whatever needs to be changed on landscape */
}


/* ============ my Stuff =========== */

#drawer form {margin: 30px 0 30px 0;}

#connections aside small
{
  padding: 1rem 0 0;
  color: #5b5b5b;
  font-size: 1.5rem;
}

#connections li a p.r2 var
{
  padding-left: 20px;
}

#connections li a p small 
{
  color: #5b5b5b;
  font-size: 1.2rem;
}

section[role="region"] > header:first-child > a:last-child
{
  position: absolute;
  right: 50px;
  top: 0px;
}

section[role="region"] > header:first-child > a:last-child .icon
{
  width: 50px;
}
[data-type="list"] aside.pack-end {
  padding-top: 8px;
  padding-right: 16px;
}



['data-show-form'].active
{
  background-color: #dc6a0e;
}
span.icon.active:before
{
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
}
span.icon:before
{
  transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
}

label {color:#aaa;font-size:medium;;}

input[type=time]
{
  display: block;
  overflow: hidden;
  width: 100%;
  height: 4rem;
  resize: none;
  padding: 0 1.2rem;
  font-size: 1.8rem;
  line-height: 4rem;
  border: 0.1rem solid #ccc;
  border-radius: 0.3rem;
  box-shadow: none;
  background: #fff url(../bower_components/building-blocks/style/input_areas/images/ui/shadow.png) repeat-x;
}

#time
{
  line-height: 40px;
  font-size: 16px;
  color: #333;
}

.padding-top-10 {padding-top: 10px;}

label.pack-switch input ~ span:after
{
  left: 0;
  top: 42%;
}

#favorits li 
{
  height: 44px;
}

#favorits li a 
{
  width:88%;
}

#favorits li aside
{
  width: 10%;
  position: relative;
  top: -44px;
  padding: 9px 26px 9px 10px;
  left: 82%;
  border-left: 0.1rem solid #596068;
  border-bottom: 0.1rem solid #596068;
  font-size: 37px;
}
#favorits li aside a
{
  color: white;
  text-decoration: none;
}

div.passlist 
{
  margin: 10px 0px;
  display:none;
}

div.passlist.show
{
  display:block;
}
div.passlist > div
{
  border-bottom: 1px solid #ddd;

}

/* detailView */

[data-type="list"] aside.pack-end
{
  height: 26px;
}

.f-14 h2 {font-size: 14px;}

.f-14 h2:first-child,
.f-14 h2 span
{
  color:gray;
  padding-left: 4px;
}

.content-10
{
  padding:5px;
}

.IC, .ICN, .IR, .RE, .EC, .NFB, .NFT, .S, .T, .ICE, .BUS, .R, .RJ
{ 
  background-color: #B20000;
  color: white;
  padding: 5px 5px;
  max-width:138px;
  margin: 8px 0px 0 6px;
  border-radius: 6px;
  text-align: center;
}

.IR, .ICE {background-color: #bf0000}
.RE, .EC, .R, .RJ{background-color: #d60000}
.NFT,.T {background-color: #333}
.S,  {background-color: #26a65b}
.NFB, .BUS {background-color: #1e8bc3}



/* Grid */


*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.grid.header {background-color: rgb(230,230,230)}
.grid.header h2:first-child {padding-left:5px}

.grid:after {
    /* Or @extend clearfix */
    content: "";
    display: table;
    clear: both;
  }

[class*='col-'] {
  float: left;
}

.col-2-3 {
  width: 66.66%;
}
.col-1-3 {
  width: 33.33%;
}
.col-1-2 {
  width: 50%;
}
.col-1-4 {
  width: 25%;
}
.col-1-8 {
  width: 12.5%;
}


